.dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.left {
    box-shadow:0px 0px 60px 1px black ;

    position: static;
    width: 23rem;
    height: 141rem;
    left: 0px;
    top: calc(50% - 2080px/2);
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color:rgb(66, 89, 111);
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */
    margin: 0px 0px;

}
.left0{
    
/* position: absolute; */
width: 40px;
height: 40px;
left: 20px;
top: 24px;

}
.left1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 20px;

/* position: absolute; */
width: 240px;
height: 76px;
left: 20px;
top: 96px;

/* 06 - Grey/200 */

background: #F4F6F8;
border-radius: 12px;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 80px;
    position: static;
    width: 1160px;
    height: 2080px;
    left: 280px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.navbar {
    box-shadow:0px 0px 30px 1px black ;

    position: static;
    width: 1000px;
    height: 92px;
    left:0px;
    top: 0px;
    /* 11 - Background/A. Light Mode/02 Default */
    background: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
    background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80);

}

.icons {
    /* position: absolute; */
 width: 44px;
height: 44px;
left: 40px;
top: calc(50% - 44px/2);

border-radius: 50px;
} 

 .iconRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* position: absolute; */
    width: 248px;
    height: 44px;
    right: 40px;
    top: calc(50% - 44px/2);
} 

.first {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1080px;
    height: 260px;
    left: 40px;
    top: 116px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.welcome {
    position: static;
    width: 702px;
    height: 260px;
    left: 0px;
    top: 0px;
    /* 01 - Primary/01 Lighter */
    background: #C8FACD;
    border-radius: 14px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    box-shadow:0px 0px 30px 1px rgb(220, 220, 220) ;

}
.image1{
    position: static;
    width: 702px;
    height: 260px;
    left: 0px;
    top: 0px;
    /* 01 - Primary/01 Lighter */
    background: #C8FACD;
    border-radius: 14px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    background-image:url(https://unsplash.com/photos/6wAGwpsXHE0);
    box-shadow:0px 0px 30px 1px rgb(220, 220, 220) ;
}
.welcome-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* position: absolute; */
    width: 333px;
    height: 184px;
    left: 40px;
    top: 38px;
}

.welcome-right {
    position: absolute;
    left: 59.9%;
    right: 3.36%;
    top: 9.23%;
    bottom: 9.23%;
}

/* .welcome-right>img {
    height: 200px;

} */

.carousel {
    position: static;
    width: 344px;
    height: 260px;
    left: 736px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    
}

.image {
    /* position: absolute; */
    /* left: 0%; */
    width: 343px;
    height: 259px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1080px;
    height: 166px;
    left: 35px;
    top: 400px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 22px 0px;
}

.widget1 {
    font-size:2rem;
    text-align: center;
    position: static;
    width: 344px;
    height: 166px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

.widget2 {
    font-size:2rem;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    position: static;
    width: 344px;
    height: 156px;
    left: 368px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}

.widget3 {
    font-size:2rem;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(255, 0, 0, 0.25));

    position: static;
    width: 344px;
    height: 166px;
    left: 736px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}

.widget2>.card {
    /* position: static; */
    width: 344px;
    height: 166px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}
.widget3>.card {
    position: static;
    /* width: 344px; */
    height: 166px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}
.widget1>.card {
    /* position: static; */
    width: 344px;
    height: 166px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
}

.third {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1080px;
    height: 480px;
    left: 40px;
    top: 590px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 24px 0px;
}

.totalInstalled {
    
     border-radius:3%;
    /* position: static; */
    width: 702px;
    height: 480px;
    left: 368px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    background-color: white;
    box-shadow:0px 0px 30px 1px rgb(33, 33, 33) ;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */
}
.totalInstalled1{
    border-radius:3%;

    background-color:paleturquoise;

    /* display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start; */
padding: 24px 0px 24px 24px;

/* position: absolute; */
width: 702px;
height: 102px;
left: 13%;
top: 33%;
}
.totalInstalled2{
    background-color:palegreen;
    display: flex;
flex-direction: row;
align-items: flex-start;
/* padding: 0px; */
padding: 24px 0px 24px 24px;


/* position: absolute; */
width:702px;
height: 102px;
left: 13%;
top: 33%;
/* left: 24px;
top: 160px; */
}
.totalInstalled3{
    /* position: absolute; */
    background-color:purple;
    padding:24px 0px 0px 24px;
    border-radius:3%;
    width: 702px;
    height: 152px;
    left: 13%;
    top: 33%;
}
.currentDownload {
    border-radius:3%;
    box-shadow:0px 0px 30px 1px black ;

    position: static;
    width: 340px;
    height: 480px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    
    order: 0;
    flex-grow: 0;
    margin: 2px 38px;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */
    background-color:lightcoral;
}

.innercurrentDownload{
    /* position: absolute; */
    /* background-color:peru; */
    height:19%;
    text-align:center;
    font-size:5rem;
    /* color:rebeccapurple; */
    margin-top:60%;
    left: 15.12%;
    right: 15.12%;
    top: 24.17%;
    bottom: 25.83%;
}
/* .chart{ */
    /* position: absolute; */
/* left: 17.12%;
right: 15.12%;
top: 24.17%;
bottom: 25.83%;
} */

.fourth {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1080px;
    height: 575px;
    left: 40px;
    top: 1094px;
    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 24px 0px;
}

.newInvoice {
    box-shadow:0px 0px 30px 1px black;
    text-align: center;
    position: static;
    width: 712px;
    height: 575px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    background-color: rgb(208, 187, 187);
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */

}

.totalRelatedApplication {
    box-shadow:0px 0px 30px 1px black ;

    position: static;
    width: 344px;
    height: 436px;
    left: 736px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    background-color:pink;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */

}

.fifth {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1080px;
    height: 307px;
    left: 40px;
    top: 1693px;
    /* Inside auto layout */
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 24px 0px;
}

.kuchbhi {
    text-align:center;

    box-shadow:0px 0px 30px 1px rgb(19, 18, 18) ;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 344px;
    height: 248px;
    left: 736px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */

}

.authors {
    text-align:center;

    position: static;
    box-shadow:0px 0px 30px 1px rgb(30, 29, 29) ;

    width: 344px;
    height: 280px;
    left: 368px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */

}

.countries {
    text-align:center;
    position: static;box-shadow:0px 0px 30px 1px rgb(30, 29, 29) ;
    width: 344px;
    height: 307px;
    left: 0px;
    top: 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    /* background: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80); */

}
.countries1{
    text-align:center ;
    position: static;
width: 344px;
height: 307px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 24px;
}